@page "/materials/create"
@using ConstructionExchangeQuotes.Shared

<EditForm Model="ElementDto">
    <label>Element name</label>
    <input type="text" value="@ElementDto.Name"/>
    <label>Category</label>
    @*<select @bind="ElementDto.ElementCategory">
        @foreach (var elementCat in ElementCategories)
        {
            <option value="@elementCat">@elementCat.Name</option>
        }
    </select>*@
</EditForm>

@code {
    public ElementDto ElementDto { get; set; }
    public ICollection<ElementCategoryDto> ElementCategories { get; set; }

    protected override void OnInitialized()
    {
        ElementDto = new ElementDto();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var http = new HttpClient();
        this.ElementCategories = await http.GetFromJsonAsync<ICollection<ElementCategoryDto>>("element/get-categories");
    }

}
