@using System.Net.Http
@using ConstructionExchangeQuotes.Shared
@page "/quotes"
@inject HttpClient Http

@code {
    private List<QuoteDto> quotes;
    private bool isArchiveModalOpen = false;

    private async Task FetchQuotes()
    {
        quotes = null;
        quotes = await Http.GetFromJsonAsync<List<QuoteDto>>("quote/get");
    }

    protected override async Task OnInitializedAsync() =>
        await FetchQuotes();
}

<a href="quotes/create" class="btn btn-primary">Create</a>

@if (quotes == null)
{
    <p>Loading...</p>
}
else
{
    <div class="quotes__list">
        @foreach (var quote in quotes)
        {
            <QuoteTile Quote="quote" Refetch="@(async() => await FetchQuotes())" />
        }
    </div>
}