@using System.Net.Http
@using ConstructionExchangeQuotes.Shared
@page "/quotes/archived"
@inject HttpClient Http

@code {
    private List<QuoteDto> quotes;

    private async Task FetchQuotes()
    {
        quotes = null;
        quotes = await Http.GetFromJsonAsync<List<QuoteDto>>("quote/archived");
    }

    protected override async Task OnInitializedAsync() =>
        await FetchQuotes();
}

@if (quotes == null)
{
    <p>Loading...</p>
}
else
{
    <div class="quotes__list">
        @foreach (var quote in quotes)
        {
            <QuoteTile Quote="quote" Refetch="@(async() => await FetchQuotes())" IsArchived="@true" />
        }
    </div>
}