<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CE Quotes</a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quotes" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Quotes
            </NavLink>
            <ul class="nav flex-column expandable">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="quotes/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="quotes/archived">
                        <span class="oi oi-inbox" aria-hidden="true"></span> Archive
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements">
                <span class="oi oi-list" aria-hidden="true"></span> Element
            </NavLink>
            <ul class="nav flex-column expandable">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="element/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="element-type">
                <span class="oi oi-list" aria-hidden="true"></span> Element Type
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="oi oi-list" aria-hidden="true"></span> Category
            </NavLink>
        </li>
    </ul>
</div>
