.nav-item .expandable {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out max-height 0.2s ease-in-out;
    max-height: 0;
}

.nav-item:hover .expandable {
    max-height: 500px;
    pointer-events: all;
    opacity: 1;
}

.btn-primary {
    color: white !important;
    cursor: pointer !important;
}

.quote__tile {
    width: 100%;
    margin: 16px;
    padding: 16px;
}

.tile__header {
    display: flex;
    justify-content: space-between;
}

.tile__header__column {
    display: flex;
    flex-direction: column;
}

.tile__content {
    display: flex;
    flex-direction: column;
}

.tile__content__item {
    display: flex;
    justify-content: space-between;
}

.quotes__list {
    display: flex;
    flex-direction: column;
    margin: auto;
}